@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Noto+Sans:wght@300;400&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  font-family: 'Noto Sans', sans-serif;
  margin: 0 auto;
  max-width: 1300px;
  padding: 10px;
}

.header div {
  align-items: center;
  display: flex;
}

.header div p {
  margin: 0 10px;
}
