.tabela {
  border-spacing: 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
}

.tabela thead {
  margin: 0;
  padding: 0;
  width: 100%;
}

.tabela th {
  border: 1px solid black;
  padding: 5px;
  width: 10%;
}
